<?xml version="1.0"?>

<model>

  <name>Vision</name>
  <version>1.0</version>
  <sdf version="1.6">vision.sdf</sdf>

  <author>
    <name>Abhijit J. Theophilus</name>
    <email>abhijit.theo@gmail.com</email>
  </author>

  <description>
    Meet the Visions. The visual system for a
    MiM. Can detect and range objects within its
    visual cone. Allows the MiM to "stick its
    neck out" for mapping.
  </description>

</model>
