<?xml version="1.0"?>

<model>
  
  <name>Ultrasonic Radar</name>
  <version>1.0</version>
  <sdf version="1.6">radar.sdf</sdf>

  <author>
    <name>Abhijit J. Theophilus</name>
    <email>abhijit.theo@gmail.com</email>
  </author>

  <description>
    A pole mounted ultrasonic radar.
  </description>

</model>