<?xml version="1.0"?>

<model>

  <name>MiniMapper</name>
  <version>1.0</version>
  <sdf version="1.6">minimapper.sdf</sdf>

  <author>
    <name>Abhijit J. Theophilus</name>
    <email>abhijit.theo@gmail.com</email>
  </author>

  <description>
      Meet the MiMs. The cool kids of the block,
      these guys are the heart and soul of this
      project. Coordinate to map out the Hood for
      search and rescue.
  </description>

</model>
