<?xml version="1.0"?>

<model>
  
  <name>Icy Room Interior</name>
  <version>1.0</version>
  <sdf version="1.6">interior.sdf</sdf>

  <author>
    <name>Abhijit J. Theophilus</name>
    <email>abhijit.theo@gmail.com</email>
  </author>

  <description>
    The inner walls and obstacles of the Ice Maze.
  </description>

</model>